.item {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 300px;
    padding: 10px;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px, rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
}

.status {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
}

.isOnline {
    composes: status;
    background-color: green;
}